.git
.github
.vs
.vscode
.venv
**/__pycache__
**/*.py[cod]
**/bin
**/obj
**/TestResults
**/*.trx
**/*.log
*.env
*.pfx
*.pem
*.key
.azure
.docker
docs/roadmap/release-1.12/prompters
eng
debug.log
query-graphql.txt
Directory.Build.local.props
